input[type=submit],
input[type=button],
.button,
.sites-button {
  color: get-color(primary);
	border-color: get-color(primary);
	border-width: 2px;
  text-transform: uppercase;
	&:hover {
		color: $white;
		background-color: get-color(primary);
	}
	$buttons-list: primary, secondary, success, alert, warning, white;
	@each $button in $buttons-list {
		&.#{$button},
    &.#{$button} a {
      background-color: transparent;
      color: get-color(#{$button});
      border-color: get-color(#{$button});
      &:hover {
        color: $white;
        background-color: get-color(#{$button});
      }
		}
  }
  // special case .button.white
  &.white {
    &:hover {
      color: get-color(primary);
    }
  }
  &.large {
    padding: 0.65em 1.15em;
  }
  &.small {
    padding: rem-calc(8) rem-calc(16);
  }
  &.fill {
    border-color: get-color(primary);
    background-color: get-color(primary);
    color: white;
    a {
      color: white;
    }
    &:hover {
      color: get-color(primary);
      background-color: transparent;
      a {
        color: get-color(primary);
      }
    }
  }
}
