.featured-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: rem-calc(100);
  background-color: #dcddde;

  @include breakpoint(medium) {
    height: rem-calc(310);
  }

}
