.footer-container {
  @include xy-grid-container;
}

.footer-grid {
  @include xy-grid;

  section {
    @include xy-cell();
    @include breakpoint(large) {
      @include xy-cell(auto);
    }
  }

}

footer.copyright {
  background-color: $dark-gray;
  .footer-grid {
    min-height: rem-calc(81);
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
  }
  p {
    color: #bbbbbb;
    font-size: 15px;
    line-height: 1.33;
  }
}

.footer-social {
  display: inline-block;
  background-color: #fff;
  color: $dark-gray;
  width: rem-calc(34);
  height: rem-calc(34);
  border-radius: 5px;
  padding: 0 rem-calc(1);
  .icon {
    font-size: rem-calc(25);
    line-height: 34px;
  }
}

footer.footer {
  background-color: #252525;
  padding-top: rem-calc(45);
  .footer__signup {
    @include breakpoint(medium) {
      padding-bottom: rem-calc(70);
    }
    form {
      text-align: right;
    }
    input[type=submit] {
      font-size: rem-calc(20);
      line-height: 1;
      font-family: $button-font-family;
      transition: all 300ms;
      cursor: pointer;
      padding: $button-padding;
      background-color: transparent;
      color: white;
      border-color: white;
      margin-left: rem-calc(18);
      &:hover {
        color: get-color(primary);
        background-color: white;
      }
      margin-bottom: 0;
    }
    span {
      display: inline-block;
    }
    input[type=email],
    input[type=text] {
      max-width: rem-calc(445);
      margin-bottom: 0;
      border-radius: 6px;
      max-height: rem-calc(54);
    }
    p {
      margin-bottom: 0;
    }
    .ajax-loader,
    .wpcf7-validation-errors {
      display: none !important;
    }
    .wpcf7-not-valid-tip {
      font-family: "Open Sans";
      position: absolute;
      left: 0;
      margin-top: rem-calc(5);
      color: get-color(alert);
    }
  }
}