// Navigation breakpoints
.mobile-menu,
.site-title-bar {
	@include hide-for(large);
}

.desktop-menu,
.site-navigation.top-bar {
	@include show-for(large);
}

// Mobile menu
.mobile-menu {
	display: none; // prevents repaint caused by JS hiding menu onload
}

// Tablet and desktop menu
.site-header {
	min-height: rem-calc($nav-height-mobile);
	padding: rem-calc(16 0);
	@include breakpoint(large) {
		padding: 0;
	}
}

.top-bar {
	// if no logo is set, display this title
	align-items: center;
	height: rem-calc($nav-height);
	.top-bar-title a {
		font-size: 1rem;
		color: get-color(primary);
		padding-left: 1rem;
		line-height: 1.8;
	}
	// default menu style
	.menu {
		align-items: center;
		&.desktop-menu {
			margin-right: rem-calc(-13);
		}
		li {
			outline: none;
			a {
				color: $medium-gray;
				padding-top: 0;
				padding-bottom: 0;
				font-size: rem-calc(16);
				line-height: 1;
				font-weight: 700;

				&:hover:not(.button) {
					color: get-color(primary);
				}
			}
			&.button {
				a {
					color: white;
					padding: 0;
					font-size: rem-calc(18);
					font-weight: 400;
				}
			}
			&.current-menu-item {
				a {
					color: get-color(primary);
				}
			}
		}
		&.search-menu {
			margin-bottom: rem-calc(23);
			margin-right: rem-calc(-13);
			li:not(.button) a {
				font-size: rem-calc(14);
				.icon {
					font-size: rem-calc(18);
				}
			}
		}
	}
	// active menu style
	.menu .active > a {
		color: get-color(primary);
	}
	// menu padding
	.menu {
		> li:not(.button) {
			margin: rem-calc(0 13);
			@include breakpoint(large down) {
				margin: rem-calc(0 11);
			}
		}
		> li.button {
			margin-left: rem-calc(13);
			margin-right: rem-calc(13);
		}
	}
	.top-bar-title {
		margin-top: 0;
		margin-bottom: 0;
		a {
			padding-left: 0;
			display: inline-block;
		}
	}
}
// Sub-menu
ul li {
	ul.dropdown.menu:not(.js-dropdown-active) {
		display: none; // Prevent FOUC on load
	}
}
.dropdown.menu > li.is-dropdown-submenu-parent {
	&.has-mega-menu {
		// disable submenu if it's mega menu
		ul.submenu {
			display: none !important;
		}
	}
}

.dropdown.menu > li.opens-left > .is-dropdown-submenu {
	top: rem-calc(53);
	width: 100%;
	z-index: 14;
	background-color: white;
	right: auto;
	left: 0;
	li a {
		padding: rem-calc(10);
	}
}

.site-navigation {
	@include breakpoint(small only) {
		padding: 0; // prevents container visibility on small screens
	}
}

// primary logo
.site-logo {
	position: relative;
	z-index: 20;
	@include breakpoint(small) {
		max-width: rem-calc(208);
	}
	@include breakpoint(large) {
		max-width: rem-calc(266);
		width: auto;
	}
}

// hamburger icon
.menu-icon {
	width: rem-calc(39);
	height: rem-calc(23);
	&:after {
		height: rem-calc(5);
		background: get-color(primary) !important;
		box-shadow: 0 9px 0 get-color(primary), 0 18px 0 get-color(primary) !important;
	}
}

.site-mobile-right {
	@extend .abs-center-vertical;
	right: 0;
	.search-toggle {
		@extend .abs-center-vertical;
		right: rem-calc(72);
		font-size: rem-calc(29);
		color: $black;
	}
}

// nav searchform
.top-bar-searchform {
	position: fixed;
	z-index: 21; // higher than logo
	transition: all 350ms ease;
	overflow: hidden;
	background-color: white;
	width: 100%;
	top: 0;
	left: 0;
	height: 0;
	padding: rem-calc(0 map-get($grid-margin-gutters, small) / 2);
	&.is-active {
		height: rem-calc($nav-height-mobile);
		.clear-search {
			opacity: 1;
		}
		@include breakpoint(medium) {
			max-width: rem-calc(250);
			max-height: none;
			padding: 0;
			height: auto;
		}
	}
	@include breakpoint(medium) {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: rem-calc(140);
		background-color: transparent;
		max-width: 0;
		max-height: none;
		width: auto;
		padding: 0;
		left: auto;
		height: auto;
	}
	@include breakpoint(large) {
		right: rem-calc(270);
		top: rem-calc(37);
		transform: none;
	}
	input[type="text"] {
		max-width: none;
		width: 80%;
		padding: rem-calc(8 0);
		font-size: rem-calc(16);
		background-color: transparent;
		border-bottom: 1px solid #444444;
		@include breakpoint(medium) {
			padding: rem-calc(8 18 8 0);
			width: rem-calc(250);
		}
	}
	input[type=text]:focus {
		outline: none;
	}
	.submit-mobile {
		@extend .abs-center-vertical;
		font-size: rem-calc(25);
		position: absolute;
		right: rem-calc(50);
	}
	.clear-search {
		@extend .abs-center-vertical;
		transition: opacity 350ms ease;
		opacity: 0;
		right: rem-calc(0);
		font-size: rem-calc(30);
		@include breakpoint(large) {
			font-size: rem-calc(18);
		}
	}
	.group {
		margin-bottom: 0;
		position: relative;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: calc(100% - #{map-get($grid-margin-gutters, small)});
		@include breakpoint(medium) {
			position: relative;
			top: auto;
			transform: none;
		}
	}
	.bar {
		position: relative;
		display: block;
		width: 80%;
		@include breakpoint(medium) {
			width: rem-calc(250);
		}
	}
	// Credit: https://codepen.io/sevilayha/pen/IdGKH?editors=1100
	.bar:before,
	.bar:after {
		content: "";
		height: 2px;
		width: 0;
		bottom: 0;
		position: absolute;
		background: get-color(primary);
		transition: 0.2s ease all;
		-moz-transition: 0.2s ease all;
		-webkit-transition: 0.2s ease all;
	}
	.bar:before {
		left: 50%;
	}
	.bar:after {
		right: 50%;
	}
	/* active state */
	input[type=text]:focus ~ .bar:before,
	input[type=text]:focus ~ .bar:after {
		width: 50%;
	}
}
