// Navigation breakpoints
.mobile-menu,
.site-title-bar {
	@include hide-for(large);
}

.desktop-menu,
.site-navigation.top-bar {
	@include show-for(large);
}

// Mobile menu
.mobile-menu {
	display: none; // prevents repaint caused by JS hiding menu onload
}

.off-canvas {
	> ul.menu {
		height: 100vh;
		padding: 1rem;

		a {
			color: $white;
			font-weight: 600;
			font-size: rem-calc(15);
		}
	}

	.menu .active > a {
		background-color: #ccc;
	}
}

// Tablet and desktop menu

.site-header {
	min-height: rem-calc($nav-height-mobile);
	padding: rem-calc(16 0);
	@include breakpoint(large) {
		padding: 0;
	}
}

.top-bar {
	// if no logo is set, display this title
	align-items: center;
	height: rem-calc($nav-height);
	.top-bar-title a {
		font-size: 1rem;
		color: get-color(primary);
		padding-left: 1rem;
		line-height: 1.8;
	}
	// default menu style
	.menu {
		align-items: center;
		&.desktop-menu {
			margin-right: rem-calc(-13);
		}
		li {
			outline: none;
		}
		li a {
			color: $medium-gray;
			padding-top: 0;
			padding-bottom: 0;
			font-size: rem-calc(16);
			line-height: 1;
			font-weight: 700;

			@include breakpoint(large down) {
				padding: rem-calc(0 11) !important;
			}

			&:hover:not(.button) {
				color: get-color(primary);
			}
		}
		&.search-menu {
			margin-bottom: rem-calc(23);
			margin-right: rem-calc(-13);
			li:not(.button) a {
				font-size: rem-calc(14);
				.icon {
					font-size: rem-calc(18);
				}
			}
		}
		li.button {
			a {
				color: white;
				padding: 0;
			}
		}
	}
	// active menu style
	.menu .active > a {
		color: get-color(primary);
	}
	// menu padding
	.menu {
		> li:not(.button) {
			> a {
				padding: 0 rem-calc(13);
			}
		}
		> li.button {
			margin-left: rem-calc(13);
			margin-right: rem-calc(13);
		}
	}
	.top-bar-title {
		margin-top: 0;
		margin-bottom: 0;
		a {
			padding-left: 0;
			display: inline-block;
		}
	}
}
// Sub-menu
ul li {
	ul.dropdown.menu:not(.js-dropdown-active) {
		display: none; // Prevent FOUC on load
	}
}
.dropdown.menu > li.is-dropdown-submenu-parent {
	> a::after {
		right: rem-calc(-5);
	}
	&.has-mega-menu {
		// disable submenu if it's mega menu
		ul.submenu {
			display: none !important;
		}
	}
}

.dropdown.menu > li.opens-left > .is-dropdown-submenu {
	top: rem-calc(53);
	width: 100%;
	z-index: 14;
	background-color: white;
	right: auto;
	left: 0;
	li a {
		padding: rem-calc(10);
	}
}

.site-navigation {
	@include breakpoint(small only) {
		padding: 0; // prevents container visibility on small screens
	}
}

// WP post navigation
.post-navigation {
	@include clearfix;
}

.nav-previous {
	float: left;
}

.nav-next {
	float: right;
}

.site-logo {
	position: relative;
	z-index: 999;
	@include breakpoint(small) {
		max-width: rem-calc(208);
	}
	@include breakpoint(large) {
		max-width: rem-calc(266);
		width: auto;
	}
}

.menu-icon {
	width: rem-calc(39);
	height: rem-calc(23);
	&:after {
		height: rem-calc(5);
		background: get-color(primary) !important;
		box-shadow: 0 9px 0 get-color(primary), 0 18px 0 get-color(primary) !important;
	}
}

.site-mobile-right {
	@extend .abs-center-vertical;
	right: 0;
	.mobile-search-toggle {
		@extend .abs-center-vertical;
		right: rem-calc(72);
		font-size: rem-calc(29);
		color: $black;
	}
}
