.page-header {
  position: relative;
  background-color: get-color(primary);
  .entry-title {
    font-size: rem-calc(38);
    @include breakpoint(medium) {
      font-size: rem-calc(52);
    }
  }
  .container {
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: rem-calc(144);
    @include breakpoint(medium) {
      align-items: flex-start;
      padding-bottom: rem-calc(map-get($grid-margin-gutters, medium));
      padding-top: rem-calc(50);
      min-height: rem-calc(190);
    }
  }
}

.page-overview {
  position: relative;
  color: white;
  &__grid {
    padding-top: rem-calc(map-get($grid-margin-gutters, medium));
    padding-bottom: rem-calc(map-get($grid-margin-gutters, medium));
    min-height: rem-calc(492);
    position: relative;
    z-index: 2;
    @include breakpoint(medium) {
      min-height: rem-calc(531);
      align-items: center;
    }
  }
  &__gradient {
    position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
    top: 0;
    z-index: 1;
  }
  p {
    font-size: rem-calc(21);
    margin-bottom: rem-calc(30);
    @include breakpoint(medium) {
      font-size: rem-calc(24);
      margin-bottom: rem-calc(40);
    }
  }
  h1 {
    font-size: rem-calc(38);
    @include breakpoint(medium) {
      font-size: rem-calc(44);
    }
  }
	.event-date {
		background-color: get-color(secondary);
		position: absolute;
		z-index: 11;
		top: 0;
		right: 0;
    text-align: center;
    width: rem-calc(100);
    height: auto;
    padding: rem-calc(10 0);
    @include breakpoint(medium) {
      padding: 0;
      padding-top: rem-calc(24.5);
      width: rem-calc(162);
      height: rem-calc(162);
    }
		p {
			margin-bottom: 0;
		}
		.month {
      font-size: rem-calc(28);
      @include breakpoint(medium) {
        font-size: rem-calc(36.1);
      }
		}
		.day {
      font-size: rem-calc(60);
      @include breakpoint(medium) {
        font-size: rem-calc(77.02);
      }
		}
	}
}

.page-description {
  padding-top: rem-calc(44);
  @include breakpoint(medium) {
    padding-top: rem-calc(70);
  }
}