.galleries-container {
	@include breakpoint(medium) {
		padding-top: rem-calc(35);
		padding-bottom: rem-calc(62);
	}
}

.gallery-title {
	margin-top: rem-calc(38);
	margin-bottom: rem-calc(25);
}

.gallery-see-more {
	margin-top: rem-calc(28);
	margin-bottom: rem-calc(28);
}

.masonry-grid {
	margin-left: -(rem-calc(14));
	margin-right: -(rem-calc(14));
	.grid-sizer,
	.grid-item {
		width: 50%;
		padding: rem-calc(0 7 12);
		@include breakpoint(medium) {
			width: 25%;
			padding: rem-calc(0 14 24);
		}
	}
	.grid-item--width2 {
		width: 100%;
		@include breakpoint(medium) {
			width: 50%;
		}
	}
	.grid-item--width3 {
		width: 100%;
		@include breakpoint(medium) {
			width: 75%;
		}
	}
	img {
		width: 100%;
	}
}
