// Home Hero
.front-hero {
  background-color: get-color(primary);
  position: relative;
  .grid-x {
    @include breakpoint(medium) {
      min-height: rem-calc(500);
    }
  }
	&__text {
    color: $white;
    padding-top: $global-padding;
    padding-bottom: $global-padding;
    h2 {
      font-size: rem-calc(42);
    }
  }
  &__gallery {
    position: absolute;
    height: 100%;
    right: 0;
		top: 0;
		z-index: 1;
		width: calc( ( 100vw - #{$global-width} ) / 2 + ( #{$global-width} * 0.5833333 ) - 15px );
		img {
			height: 100%;
			margin-left: -2px;
		}
	}
}
