.blog-page {
	padding-top: rem-calc(32);
	padding-bottom: rem-calc(55);
	@include breakpoint(medium) {
		padding-top: rem-calc(45);
		padding-bottom: rem-calc(75);
	}
}
.select-filter {
	@include breakpoint(medium) {
		margin-bottom: rem-calc(70);
	}
}
.post-item {
	margin-bottom: rem-calc(40);
	@include breakpoint(medium) {
		margin-bottom: 0;
		margin-bottom: rem-calc(65);
	}
	p,
	a.read-more {
		@extend .small-mobile;
	}
	p {
		margin-bottom: 0;
	}
}
.post-thumbnail {
	background-color: #dcddde;
	width: rem-calc(350);
	height: rem-calc(147);
	margin: 0 auto rem-calc(19);
	@include breakpoint(medium) {
		width: 100%;
		padding-bottom: 100%;
		margin-bottom: 0;
	}
	@include breakpoint(large) {
		width: rem-calc(159);
		height: rem-calc(159);
		padding-bottom: 0;
	}
}
.post-meta {
	@include breakpoint(large) {
		padding-left: rem-calc(36);
	}
}
.post-date {
	margin-bottom: rem-calc(10);
	font-size: rem-calc(19);
	@include breakpoint(medium) {
		font-size: rem-calc(24);
	}
}
.post-title {
	color: #424242;
	margin-bottom: rem-calc(7);
	font-size: rem-calc(26);
	@include breakpoint(medium) {
		font-size: rem-calc(40);
	}
}
.post-publication {
	margin-bottom: rem-calc(14);
	display: block;
}
a.read-more {
	font-weight: bold;
	&:hover {
		color: get-color(secondary);
	}
}

.pagination {
	margin-bottom: 0;
}

.pagination a, .pagination button {
	color: #424242;
	font-size: rem-calc(18);
	line-height: 1;
	font-weight: bold;
	&:hover {
		background-color: transparent;
		color: get-color(primary);
	}
}

.pagination .current {
	background-color: transparent;
	color: get-color(primary);
	font-weight: bold;
	font-size: rem-calc(18);
	line-height: 1;
}

.entry-content {
	color: #424242;
}

.single {
	.post-title {
		margin-bottom: rem-calc(6);
	}
}