.page-grid {
  padding-top: rem-calc(44);
  padding-bottom: rem-calc(72);
  @include breakpoint(medium) {
    padding-top: rem-calc(70);
  }
}

.page-block {
  &--inner-scroll {
    position: absolute;
    min-height: rem-calc(58);
    line-height: 1;
		display: flex;
		align-items: center;
    width: 100%;
    z-index: 12;
    a {
      font-size: rem-calc(20);
      padding: 0 rem-calc(30);
    }
    &.pos-fixed {
      position: fixed;
      top: 0;
    }
    &__dummy {
      min-height: rem-calc(58);
    }
    #page-scroll {
      text-align: center;
      width: 100%;
    }
  }
}