// Variables
$nav-height: 154;
$nav-height-mobile: 97;
$mobile-padding: 40;

a {
	outline: none;
	transition: color 300ms;
}

// WP post navigation
.post-navigation {
	@include clearfix;
}

.nav-previous {
	float: left;
}

.nav-next {
	float: right;
}

.small-mobile {
	font-size: rem-calc(16);
	@include breakpoint(medium) {
		font-size: $global-font-size;
	}
}

.padding-mobile {
	@include breakpoint(mobile) {
		padding-left: rem-calc($mobile-padding);
		padding-right: rem-calc($mobile-padding);
	}
	@include breakpoint(medium) {
		padding-left: 0;
		padding-right: 0;
	}
}

.knockout-title {
	font-size: rem-calc(58);
	font-weight: 900;
	color: get-color(secondary);
	line-height: 1;
	word-wrap: break-word;
	background-image: url(../images/title-bg.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	@include breakpoint(smobile) {
		font-size: rem-calc(64);
		word-wrap: normal;
	}
	@include breakpoint(medium) {
		font-size: rem-calc(100);
	}
}

.border-bottom {
	border-bottom: 1px solid #afafaf;
}

.email-link {
	position: absolute;
	z-index: 11;
	right: rem-calc(18);
	top: rem-calc(15);
	img {
		width: rem-calc(48);
	}
}

.semibold {
	font-weight: 600;
}

.footer-wave {
	position: absolute;
	width: 100%;
	max-height: 102px;
	bottom: 0;
	z-index: 2;
}

.no-maxwidth {
	max-width: none;
}

.ff-oswald {
	font-family: "Oswald", sans-serif;
}

.ff-opensans {
	font-family: "Open Sans", sans-serif;
}

.fz-20 {
	@include breakpoint(medium) {
		font-size: rem-calc(20);
		line-height: 1.33;
	}
}

.fz-24 {
	@include breakpoint(medium) {
		font-size: rem-calc(24);
		line-height: 1.33;
	}
}

.uppercase {
	text-transform: uppercase;
}

.w100p {
	width: 100%;
}

.h100p {
	height: 100%;
}

.grid-centered {
	justify-content: center;
}

.grid-right {
	justify-content: flex-end;
}

.flex-bottom {
	display: flex;
	display: -webkit-flex;
	align-items: flex-end;
	-webkit-align-items: flex-end;
}

.primary-color {
	color: $primary-color;
}

.secondary-color {
	color: $secondary-color;
}

.light-gray {
	color: $light-gray;
}

.medium-gray {
	color: $medium-gray;
}

.dark-gray {
	color: $dark-gray;
}

.white-color {
	color: white;
}

.grayscale {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.bg-contain {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.bg-center-top {
	background-position: center top;
}

.bg-center-bottom {
	background-position: center bottom;
}

.bg-center {
	background-position: center center;
}

.bg-right {
	background-position: right !important;
}

.bg-left {
	background-position: left !important;
}

.bg-center-right {
	background-position: center right;
}

.bg-center-left {
	background-position: center left;
}

.pos-rel {
	position: relative;
}

.pos-abs {
	position: absolute;
}

.light {
	font-weight: 300;
}

.bold {
	font-weight: 700;
}

.bolder {
	font-weight: 900;
}

.flex-center-items {
	align-items: center;
	-webkit-align-items: center;
}

.text-center--mobile {
	@include breakpoint(mobile down) {
		text-align: center;
	}
}

.text-center--medium {
	@include breakpoint(medium down) {
		text-align: center;
	}
}

.text-right {
	@include breakpoint(medium) {
		text-align: right;
	}
}

.box-shadow {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.text-shadow {
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.abs-center {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 50%;
	transform: translateY(-50%);
}

.abs-center-vertical {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.mb0 {
	margin-bottom: 0;
}

.lh1 {
	line-height: 1;
}

$margin: 20;
$step: 1;
@mixin margin-classes {
	@for $i from 1 through $margin {
		.mb#{$i * $step} {
			margin-bottom: #{$i * $step}px;
		}
		.mb#{$i * $step}-mobile {
			@include breakpoint(mobile down) {
				margin-bottom: #{$i * $step}px;
			}
		}
		.mt#{$i * $step} {
			margin-top: #{$i * $step}px;
		}
		.pull-left-#{$i * $step} {
			@include breakpoint(large) {
				margin-right: auto;
				margin-left: -#{$i * $step}px !important;
			}
		}
		.pull-right-#{$i * $step} {
			@include breakpoint(large) {
				margin-left: auto;
				margin-right: -#{$i * $step}px !important;
			}
		}
	}
}

.pull-left {
	@include breakpoint(large) {
		margin-right: auto;
		margin-left: -80px !important;
	}
}

.pull-right {
	@include breakpoint(large) {
		margin-left: auto;
		margin-right: -80px !important;
	}
}

@include margin-classes();

.nostyle-list {
	list-style-type: none;
	margin: 0;
}

.h100p {
	height: 100%;
}

.no-overflow {
	overflow: hidden;
}

.arrow-right {
	cursor: pointer;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 13px 0 13px 22px;
	border-color: transparent transparent transparent #afafaf;
	&--white {
		border-color: transparent transparent transparent white;
	}
}

.arrow-left {
	cursor: pointer;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 13px 22px 13px 0;
	border-color: transparent #afafaf transparent transparent;
	&--white {
		border-color: transparent white transparent transparent;
	}
}

.float-right {
	float: right;
}

p.small,
a.small {
	font-size: rem-calc(16);
	line-height: 1.4;
}

p.tiny,
a.tiny {
	font-size: rem-calc(14);
	line-height: 1.4;
}

@include breakpoint(mobile down) {
	/* reverse stack mobile */
	.stack-up {
		order: 11;
	}
	.stack-down {
		order: 12;
	}
}

.stack-up-medium {
	@include breakpoint(medium) {
		order: 11;
	}
}
.stack-down-medium {
	@include breakpoint(medium) {
		order: 12;
	}
}

.gradient-overlay {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(
		top,
		rgba(68, 68, 68, 0) 0%,
		rgba(68, 68, 68, 0.75) 100%
	);
	/* FF3.6-15 */
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0%, rgba(68, 68, 68, 0)),
		color-stop(100%, rgba(68, 68, 68, 0.75))
	);
	/* Chrome4-9,Safari4-5 */
	background: -webkit-linear-gradient(
		top,
		rgba(68, 68, 68, 0) 0%,
		rgba(68, 68, 68, 0.75) 100%
	);
	/* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(
		top,
		rgba(68, 68, 68, 0) 0%,
		rgba(68, 68, 68, 0.75) 100%
	);
	/* Opera 11.10-11.50 */
	background: -ms-linear-gradient(
		top,
		rgba(68, 68, 68, 0) 0%,
		rgba(68, 68, 68, 0.75) 100%
	);
	/* IE10 preview */
	background: linear-gradient(
		to bottom,
		rgba(68, 68, 68, 0) 0%,
		rgba(68, 68, 68, 0.75) 100%
	);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
	/* IE6-8 */
}

.gradient-overlay--black {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(
		top,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.85) 100%
	);
	/* FF3.6-15 */
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0%, rgba(0, 0, 0, 0)),
		color-stop(100%, rgba(0, 0, 0, 0.85))
	);
	/* Chrome4-9,Safari4-5 */
	background: -webkit-linear-gradient(
		top,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.85) 100%
	);
	/* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(
		top,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.85) 100%
	);
	/* Opera 11.10-11.50 */
	background: -ms-linear-gradient(
		top,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.85) 100%
	);
	/* IE10 preview */
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.85) 100%
	);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
	/* IE6-8 */
}

.gradient-overlay--black--right {
	/* IE10+ */
	background-image: -ms-linear-gradient(
		left,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0.15) 75%
	);
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(
		left,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0.15) 75%
	);
	/* Opera */
	background-image: -o-linear-gradient(
		left,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0.15) 75%
	);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(2, rgba(0, 0, 0, 1)),
		color-stop(55, rgba(0, 0, 0, 0.15))
	);
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(
		left,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0.15) 75%
	);
	/* W3C Markup */
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0.9) 0%,
		rgba(0, 0, 0, 0) 75%
	);
}

.gradient-overlay--green {
	/* IE10+ */
	background-image: -ms-linear-gradient(
		left,
		rgba(3, 117, 115, 1) 2%,
		rgba(3, 117, 115, 0.15) 55%
	);
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(
		left,
		rgba(3, 117, 115, 1) 2%,
		rgba(3, 117, 115, 0.15) 55%
	);
	/* Opera */
	background-image: -o-linear-gradient(
		left,
		rgba(3, 117, 115, 1) 2%,
		rgba(3, 117, 115, 0.15) 55%
	);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(2, rgba(3, 117, 115, 1)),
		color-stop(55, rgba(3, 117, 115, 0.15))
	);
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(
		left,
		rgba(3, 117, 115, 1) 2%,
		rgba(3, 117, 115, 0.15) 55%
	);
	/* W3C Markup */
	background-image: linear-gradient(
		to right,
		rgba(3, 117, 115, 1) 2%,
		rgba(3, 117, 115, 0.15) 55%
	);
	&--top {
		background-image: -ms-linear-gradient(
			top,
			rgba(3, 117, 115, 1) 2%,
			rgba(3, 117, 115, 0.15) 55%
		);
		background-image: -moz-linear-gradient(
			top,
			rgba(3, 117, 115, 1) 2%,
			rgba(3, 117, 115, 0.15) 55%
		);
		background-image: -o-linear-gradient(
			top,
			rgba(3, 117, 115, 1) 2%,
			rgba(3, 117, 115, 0.15) 55%
		);
		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(2, rgba(3, 117, 115, 1)),
			color-stop(100, rgba(3, 117, 115, 0.15))
		);
		background-image: -webkit-linear-gradient(
			top,
			rgba(3, 117, 115, 1) 2%,
			rgba(3, 117, 115, 0.15) 55%
		);
		background-image: linear-gradient(
			to bottom,
			rgba(3, 117, 115, 1) 5%,
			rgba(3, 117, 115, 0.15) 75%
		);
	}
}
