$carousel_width: 202;
.page-block--carousel {
  overflow: hidden;
  padding-top: rem-calc(42);
  padding-bottom: rem-calc(44);
  @include breakpoint(medium) {
    padding-bottom: rem-calc(54);
  }
  h6 {
    font-size: rem-calc(21);
    margin-bottom: rem-calc(33);
  }
  @include breakpoint(mobile down) {
    .container {
      padding: 0;
    }
  }
}
.carousel {
  transition: opacity 400ms;
  opacity: 0;
  &__wrap {
    min-height: rem-calc($carousel_width);
    margin-left: -(rem-calc(10));
    margin-right: -(rem-calc(10));
  }
  &.slick-initialized {
    opacity: 1;
    .carousel__slide {
      outline: none;
      position: relative;
      padding: rem-calc(0 12);
      @include breakpoint(medium) {
        padding: rem-calc(0 10);
      }
    }
  }
  &__slide {
    position: absolute;
    .inner {
      border-radius: 6px;
      margin: 0 auto;
      width: rem-calc(328);
      max-width: 98vw;
      height: rem-calc(202);
      @include breakpoint(medium) {
        width: 100%;
        height: auto;
        padding-bottom: 100%;
      }
    }
  }
  .arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &-left {
      left: rem-calc(-20);
      @include breakpoint(xlarge) {
        left: rem-calc(-42);
      }
    }
    &-right {
      right: rem-calc(-20);
      @include breakpoint(xlarge) {
        right: rem-calc(-42);
      }
    }
  }
}