.page-block--cta {
  background-blend-mode: normal;
  padding-top: rem-calc(30);
  padding-bottom: rem-calc(30);
  @include breakpoint(medium) {
		padding-top: rem-calc(39);
    padding-bottom: rem-calc(39);
  }
  h5 {
		margin-bottom: rem-calc(15);
		font-size: rem-calc(29.85);
		@include breakpoint(medium) {
			font-size: rem-calc(30);
		}
  }
  p {
    line-height: 1.15;
    @include breakpoint(medium) {
      line-height: $paragraph-lineheight;
    }
  }
  a.button {
    margin-top: rem-calc(20);
    @include breakpoint(medium) {
      margin-top: 0;
    }
  }
  .grid-x {
    @include breakpoint(medium) {
      min-height: rem-calc(160 - 78);
    }
  }
  &.center {
    padding-top: rem-calc(53);
    padding-bottom: rem-calc(53);
    @include breakpoint(medium) {
      padding-top: rem-calc(39);
      padding-bottom: rem-calc(39);
    }
    span {
			margin-bottom: 0;
			font-size: rem-calc(36);
      line-height: rem-calc(36);
      display: block;
      margin-bottom: rem-calc(10);
      @include breakpoint(medium) {
        margin-bottom: 0;
			  vertical-align: middle;
        margin-right: rem-calc(60);
        display: inline-block;
      }
		}
		.button {
			vertical-align: middle;
		}
    .grid-x {
      justify-content: center;
    }
    @include breakpoint(medium) {
      .grid-x {
        min-height: rem-calc(150 - 80);
      }
    }
  }
}